<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Shop - Add product</title>
</head>
<body>
  <h1>Add product</h1>
  <form action="/product/add" method="POST">
    <br /><label>Name<br /><input type="text" name="name" /></label>
    <br /><label>Description<br /><input type="text" name="description" /></label>
    <br /><button type="submit">Add</button>
  </form>
  <nav>
    <a href="/">Home</a><br />
    <a href="/product/new">Newest product</a><br />
    <a href="/logout">Logout</a>
  </nav>
</body>
</html>
